 <% @setting = Setting.where("user_id == ?", current_user.id).first %>
<% w1 = Widget.where("size = 'large'").uniq.pluck(:name) %>
<% w2 = []
    w2.push(Widget.where("data_source == ?", "local").last)
    w2.push(Widget.where("data_source == ?", "topstory").last)
    w2.push(Widget.where("data_source == ?", "espn").last)
    w2.push(Widget.where("data_source == ?", "onion").last) %>


<% w1_name = []
  w1.each do |t|
    id = Widget.where("name == ?", t).last.id
  w1_name.push [t, id]
end %>

<% w2_name = []
  w2.each do |t|
  w2_name.push [t.name.split("_").join(" "), t.id]
end %>



<%= form_for @setting, :method => "put" do |f| %>

  <div>
    Widget 1:
            <%= f.select(:widget1_id) do %>
              <%= options_for_select((w1_name), @setting.widget1_id) %>
            <% end %>
  </div><br><br>

  <div>
    Widget 2:
            <%= f.select(:widget2_id) do %>
              <%= options_for_select((w1_name), @setting.widget2_id) %>
            <% end %>
  </div><br><br>

  <div>
    Widget 3:
            <%= f.select(:widget3_id) do %>
              <%= options_for_select((w2_name), Widget.where("name == ?", Widget.where("id == ?" , @setting.widget3_id).last.name).last.id) %>
            <% end %>
  </div><br><br>

  <div>
    Widget 4:
            <%= f.select(:widget4_id) do %>
              <%= options_for_select((w2_name), Widget.where("name == ?", Widget.where("id == ?" , @setting.widget4_id).last.name).last.id) %>
            <% end %>
  </div><br><br>

<div>
    Layout:
            <%= f.select(:layout_id) do %>
              <%= options_for_select(([["Layout 1", 1],["Layout 2", 2],["Layout 3", 3]]), @setting.layout_id) %>
            <% end %>
  </div><br><br>

    <%= f.submit "Save Changes" %>

  <% end %>


