<div class='dashblox'>
  <div class="six_x_six"><%= render "block_datetime" %></div>
  <% category = type_check %>
  <div class="six_x_six" id="<%= category['Headline']['Category'] %>" >
    <%= render :partial => "block_weather", :locals => {:category => category} %>
  </div>
  <div class="twelve_x_two"><%= render "news/world_news" %></div>
  <div class="twelve_x_two"><%= render "news/local_news" %></div>
</div>



