<% category = type_check %>
<% @user = @current_user %>

<% if !Setting.where("user_id == ?", current_user.id).first
  Setting.create(
        user_id: current_user.id,
        widget1_id: 1,
        widget2_id: 2,
        widget3_id: 3,
        widget4_id: 4,
        widget5_id: nil,
        widget6_id: nil,
        layout_id: 1
        ) end %>

<% if !UserWidgetSetting.where("user_id == ?", current_user.id).first
    UserWidgetSetting.create(
      user_id: current_user.id
    ) end %>


<% widget1 = Widget.find(Setting.where("user_id == ?", current_user.id).first.widget1_id).name %>
<% widget2 = Widget.find(Setting.where("user_id == ?", current_user.id).first.widget2_id).name %>
<% if Widget.last.size == "medium" %>
  <% widget3 = Widget.find(Setting.where("user_id == ?", current_user.id).first.widget3_id).name %>
<% end %>
<% if Widget.last(2)[0].size == "medium" %>
  <% widget4 = Widget.find(Setting.where("user_id == ?", current_user.id).first.widget4_id).name %>
<% end %>
<%# widget5 = Widget.find(Setting.where("user_id == ?", current_user.id).first.widget5_id).name %>
<%# widget6 = Widget.find(Setting.where("user_id == ?", current_user.id).first.widget6_id).name %>

<div class='dashblox theme_<%= current_user.theme_id %>'>

 <div class="six_x_six theme_<%= current_user.theme_id%> <%= category['Headline']['Category'] %>" id="<%= widget1 %>" >
    <%= render :partial => "block_#{widget1}", :locals => {:category => category} %>
  </div>
  <div class="six_x_six theme_<%= current_user.theme_id%> <%= category['Headline']['Category'] %>" id="<%= widget2 %>">
    <%= render :partial => "block_#{widget2}", :locals => {:category => category} %>
  </div>
  <div class="twelve_x_two theme_<%= current_user.theme_id%>">

  <% if widget3 %>
    <%= render :partial => "news/#{widget3}", :locals => {:category => category} %>
  <% else %>
    <%= render "news/local_news" %>
  <% end %>
  </div>

  <div class="twelve_x_two theme_<%= current_user.theme_id%>">
  <% if widget4 %>
    <%= render :partial => "news/#{widget4}", :locals => {:category => category} %>
    <% else %>
    <%= render "news/world_news" %>
  <% end %>
  </div>
</div>

<% render "news/onion_news" %>

<div class="dropup theme_<%= current_user.theme_id%>" id="drop_down_div">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" id="settings1" aria-labelledby="dropdownMenu2">
    <li><a href="/settings">settings</a></li>
    <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-left"></span>Choose Theme</a>
          <ul class="dropdown-menu" id="theme_pick">

            <li class="theme_picker" id="pick_theme_1"><%= form_for @user, :method => "put" do |f| %>
            <%= f.hidden_field(:email, :value => @user.email) %>
            <%= f.hidden_field(:password_digest, :value => @user.password_digest) %>
            <%= f.hidden_field(:theme_id, :value => 1) %>
            <%= f.submit "Coolblue" %><% end %></li>

            <li class="theme_picker" id="pick_theme_2"><%= form_for @user, :method => "put" do |f| %>
            <%= f.hidden_field(:email, :value => @user.email) %>
            <%= f.hidden_field(:password_digest, :value => @user.password_digest) %>
            <%= f.hidden_field(:theme_id, :value => 2) %>
            <%= f.submit "Whiteout" %><% end %></li>

            <li class="theme_picker" id="pick_theme_3"><%= form_for @user, :method => "put" do |f| %>
            <%= f.hidden_field(:email, :value => @user.email) %>
            <%= f.hidden_field(:password_digest, :value => @user.password_digest) %>
            <%= f.hidden_field(:theme_id, :value => 3) %>
            <%= f.submit "Night Sky" %><% end %></li>

            <li class="theme_picker" id="pick_theme_4"><%= form_for @user, :method => "put" do |f| %>
            <%= f.hidden_field(:email, :value => @user.email) %>
            <%= f.hidden_field(:password_digest, :value => @user.password_digest) %>
            <%= f.hidden_field(:theme_id, :value => 4) %>
            <%= f.submit "Wacky" %><% end %></li>

          </ul>

    </li>

    <li role="separator" class="divider"></li>
    <li><%= link_to "Logout", '/logout' %></li>
  </ul>
</div>


<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>
